services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: test_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U test_user -d test_db']
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    build:
      context: .
      dockerfile: PracDocker/Liquibase/Dockerfile
    depends_on:
      - 'db'
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=test_db
      - POSTGRES_USER=test_user
      - POSTGRES_PASSWORD=test_password

  redis:
    image: redis:latest
    container_name: redis_container
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data

  app:
    build:
      context: .
      dockerfile: PracDocker/Dockerfile
    container_name: test_app
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=test_db;Username=test_user;Password=test_password
      - RedisConnectionString=redis:6379
    ports:
      - '8080:8080'

volumes:
  redisdata:
    driver: local
  postgres_data:
